#crucible {
  
  position: absolute;
  top: 120px;
  left: 30%;
  right: 30%;
  text-align: center;
  
  @media screen and (max-width: $screen-xs){
    
    top: 80px;
    
  }
  
  h1 {
    
    color: white;
    
  }
  
  p {
    
    color: white;
    
  }
  
}

#forge {
  
  max-height: 350px;
  background-color: $brand-primary;
  
}

#belt {
  
  padding-top: 50px;
  
}

.image-blocks {
  
  img {
    
    margin-bottom: 1em;
    
  }
  
}

#features {
  
    padding: 2.2em 1em 3.2em 1em;
    background-color: #ECE5E5;
    margin-top: 2.8em;
    margin-bottom: 2.8em;
  
}