<div class="jumbotron">
  <div class="container">
    <section class="col-md-8 col-md-offset-2">
      <h1 class="site-title">Bessemer Web Design</h1>
      <p class="lead">High quality, affordable web design from the steel city</p>
    </section>
  </div>
</div>