---
title: Bessemer Web Design
---

<main id="foundry">
  <section id="forge"></section>
  <section id="crucible">
    <h1 class="site-title">Bessemer Web Design</h1>
    <p class="lead">High quality, affordable web design from the steel city</p>
  </section>
</main>

<section class="container" id="belt">
  
  <div class="row">
    <div class="col-md-12">
      <h2 id="about">Who are we</h2>
    </div>
    
    <div class="col-md-7 col-sm-7">
      <p>We are Bessemer. We are a small, versitile development company based in Sheffield. We build simple, attractive websites and help create vivid user experiences.</p>
      <p>We believe in using the best tool for the job and as such we build websites with WordPress or Ruby on Rails.</p>
      <p>Strong relationships with video, design and printing companies around South Yorkshire, means we will help you market your product in every feasible channel.</p>
      <p>If you'd like to talk about your next website, app or product, <a href="#contact">you can get in touch via the form below</a>.</p>
    </div>
    <div class="col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1">
      <div class="image-blocks">
        <div class="row">
          <div class="col-sm-12">
            <%= image_tag "https://pbs.twimg.com/profile_images/570344500657016832/nyLtl9br_400x400.png", class: "img-responsive" %>
          </div>

          <div class="col-sm-6">
            <%= image_tag "https://s.w.org/about/images/logos/wordpress-logo-notext-rgb.png", class: "img-responsive" %>
          </div>

          <div class="col-sm-6">
            <%= image_tag "https://s.w.org/about/images/logos/wordpress-logo-notext-rgb.png", class: "img-responsive" %>
          </div>

          <div class="col-sm-12">
            <%= image_tag "http://rubyonrails.org/images/rails-logo.svg", class: "img-responsive" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12">
      <h2>What we do</h2>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12">
      <h2 id="contact">Get in touch</h2>
    </div>
  </div>

</section>
