---
title: Bessemer Web Design
---

    <main id="foundry">
      <section id="forge"></section>
      <section id="crucible">
            <h1 class="site-title">Bessemer Web Design</h1>
            <p class="lead">High quality, affordable web design from the steel city</p>
      </section>
    </main>

<section class="container" id="belt">
        <div class="col-md-4 col-sm-4">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Who are we</h3>
            </div>
            <div class="panel-body">
              Panel content
            </div>
          </div>
        </div>
        
        <div class="col-md-4 col-sm-4">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">What we do</h3>
            </div>
            <div class="panel-body">
              Panel content
            </div>
          </div>
        </div>
        
        <div class="col-md-4 col-sm-4">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Get in touch</h3>
            </div>
            <div class="panel-body">
              Panel content
            </div>
          </div>
        </div>
      </section>